extends baseEmail
block content 
    p Dear #{firstName}
    p We received a request to reset your password for your Natours account. Please note that the Password Reset token will expire after 10 minutes, so please be sure to click the link promptly
    p Please click the Button below to Reset your Password address:
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset Password
    p - Thanks, Natours Team