extends base
block content
    main.main
        h1.heading-secondary.ma-bt-lg Thank you for signing up for our service!`
        p(style="font-size: 25px;")  To complete your registration, we've sent a confirmation link to the email address you provided. Please check your inbox and click the "Confirm Email" button to verify your email address.