extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot Password ?
            form.form--forgot
                .form__group
                    label.form__label(for='email') Please Enter Your registered email address.
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green submit 