extends base
block content
    main.main
        h1.heading-secondary.ma-bt-lg 🎊🎉 Congratulations your Registration is now complete`
        p(style="font-size: 25px;")  Your email address has been confirmed. You can now log in to your account using your email and password.